body
{
 font-size: 13px;
 background-color: #e4e9f7 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#btn-back-to-top
{
  position: fixed;
  bottom: 46px;
  right: 20px;
  display: none;
}


i.fa-bars {
    font-size: 30px;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.link_name, .profile_name, .card-title, .form-floating>label
{
  letter-spacing: 1px;
}

.btn{
  border-radius: 0;
}

.breadcrumb-item a{
  text-decoration: none;
}

.form-control, .form-select, .input-group-text, .list-group
{
  font-size: 13px;
  border-radius: 0px;

}

.form-floating>label
{
  font-weight: 700;
  font-size: 13px !important;
}

.profile_pic>img
{
  width: 80%;
}

footer.my-4
{
  margin-bottom: 0px !important;
}

.card_min618
{
  min-height: 618px;
}

.list-group b{
  font-weight: 500;
  font-size: 12px;
}

.modal-content
{
  border: 0 !important;
}
.modal-content, .modal-header
{
  border-radius: 0px !important;
}

.modal i.fa-exclamation-triangle, .modal i.fa-check-circle
{
  font-size:50px !important;
}


.page-banner
{
  background: url('../../assets/images/pio_del_pilar_banner.jpg')no-repeat center top;
  min-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin-top: -50px;
}


.dashboard i.fa, .dashboard i.fas, .dashboard i.fab
{
 font-size: 50px;
}

.dashboard small
{
  font-weight: 500;
  letter-spacing: 1px;
}

.dash-link
{
 text-decoration: none;
}

.dash-link i
{
 font-size: 18px !important;
}

.dash-link:hover
{
 text-decoration: none;
}

.dark-link
{
 text-decoration: none;
}

.dark-link i
{
 font-size: 18px !important;
}

.dark-link:hover
{
 text-decoration: none;
}

.logo_cert_left
{
 float:left;
}

.logo_cert_right
{
 float:right;
}

.print-ct,
.print-ct p,
.print-ct h1,
.print-ct h2,
.print-ct h3,
.print-ct h4,
.print-ct h5,
.print-ct h6,
.print-ct small,
.f-arial
{
  font-family: Arial, Helvetica, sans-serif !important; 
}

.print-ct p
{
  font-size: 11pt !important;
}
.print-ct h1
{
  font-size: 22pt !important;
}
.print-ct h2
{
  font-size: 20pt !important;
}
.print-ct h3
{
  font-size: 18pt !important;
}
.print-ct h4
{
  font-size: 16pt !important;
}
.print-ct h5
{
  font-size: 14pt !important;
}
.print-ct h6
{
  font-size: 12pt !important;
}
.print-ct small
{
  font-size: 11pt !important;
}

.print-ct p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

.print-ct .cert-penalty
{
  margin-left: 155px;
}

.print-ct .cert-box
{
  border:1px solid #000;
  display:inline;
  padding:10px 20px;
  margin:10px;
}

.p-25{
  padding: 25px 25px 25px 0 !important;
}

.print-ct .cert-item {
    display: inline-block;
    padding-right: 20px;
    width: 65px;
}

/*.print-ct .cert-item2 {
    padding-right: 20px 0;
}*/
.table-none{
  border-color: transparent !important;
}
.print-ct .cert-penalty small
{
  font-size: 8pt !important;
}

.ls-2
{
  letter-spacing: 9px !important;
}

.text-indent
{
  text-indent: 50px
}
.print_show
{
  display: none;
}

@media print
{
  .page
  {
    size: legal;
    margin:.5in;
  }

  .print_hide
  {
    display: none;
  } 

  .print_show
  {
    display: inline;
  }
  #btn-back-to-top{
    display: none !important;
  }
  body,.home-section
  {
    background: transparent !important;
  }

  .container-fluid
  {
    padding-left: 50px;
    padding-right: 30px;
  }

  p
  {
    text-align: justify;
    font-size: 13pt;
  }

  .print-ct p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
  }

}

